<p class="lead">Help topics</p>
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="<%= is_active? help_path %>">
    <a href="<%= help_path %>">Help home</a>
  </li>
  <li role="presentation" class="<%= is_active? [help_category_path('entities'), help_page_path('entities', 'README')] %>">
    <a href="<%= help_category_path 'entities' %>">Entities</a>
  </li>
  <li role="presentation" class="<%= is_active? [help_category_path('developers'), help_page_path('developers', 'README')] %>">
    <a href="<%= help_category_path 'developers' %>">Developers</a>
  </li>
</ul>
