<p class="lead">Help topics</p>
<ul class="help-menu">
  <li class="<%= is_active? help_path %>">
    <a href="<%= help_path %>">Overview</a>
  </li>
  <%= render 'menu_category', category: :getting_started %>
  <%= render 'menu_category', category: :key_concepts %>
  <li class="<%= help_category_active? :developers %>">
    <a href="<%= help_category_path :developers %>">Developers</a>
    <ul>
      <%= render 'menu_page', category: :developers, page: :subscription %>
    </ul>
  </li>
  <li class="<%= help_category_active? :api %>">
    <a href="<%= help_category_path :api %>">API</a>
    <ul>
      <%= render 'menu_page', category: :api, page: :items %>
      <%= render 'menu_page', category: :api, page: :entities %>
      <%= render 'menu_page', category: :api, page: :channels %>
      <%= render 'menu_page', category: :api, page: :keywords %>
      <%= render 'menu_page', category: :api, page: :events %>
    </ul>
  </li>
</ul>
