<%= simple_form_for [@entity, @channel], as: :channel, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    boolean: :horizontal_boolean
  } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :service_identifier, label: @channel.service_id_name %>
  <%= f.input :avatar_url %>
  <%- if @channel.instance_of? WebChannel %>
    <%= f.input :url, label: 'Home page' %>
  <%- end %>
  <%= f.input :primary %>

  <p>
  <%= link_to 'Override Contact Info', '#', id: 'add-contact', 
    class: "#{'hidden' if @channel.contact && @channel.contact.name}" %>
  </p>

  <%= field_set_tag 'Contact', class: "contact #{'hidden' unless @channel.contact && @channel.contact.name?}" do %>
    <%= render partial: 'contacts/form', locals: {f: f} %>
  <% end %>

  <%= f.button :submit %>
  <%- unless @channel.new_record? %>
    <%= link_to_delete 'Delete Channel', @channel, 'btn btn-danger' %>
  <%- end %>

<%- end %>

