<h1><%= @channel.name %></h1>
<p><%= channel_action_links @channel %></p>
<div class="col-sm-6">
  <ul>
    <li>Type: <%= @channel.type_name %></li>
    <li>Description: <%= @channel.description %></li>
    <li>Entity: <%= link_to @channel.entity.name, @channel.entity %></li>
    <li><%= @channel.service_id_name %>: <%= @channel.service_identifier %></li>
    <%- if @channel.instance_of? WebChannel %>
      <li>URL: <%= @channel.url %></li>
    <%- end %>
    <li>Item Count: <%= @channel.item_count %></li>
    <li>Last Item Refresh: <%= @channel.last_polled_at %></li>
  </ul>
</div>

<div class="col-sm-6">
  <ul>
    <%- @channel.items.each do |item| %>
      <li><%= link_to item, item.link %></li>
    <%- end %>
  </ul>
</div>
