<%- if ! @channel.entity.approved %>
  <%= render 'shared/message', flash_type: :alert, no_close: true, message: "#{@channel.entity.name} has been registered but not approved. Content from this channel will not appear in feeds." %>
<%- end %>

<small><strong>Last updated:</strong> <%= time_or_dash(@channel.last_polled_at, :pretty_long) %></small>
<h1 class="channel"><%= title @channel.name %> <%= channel_action_links @channel, [:update] %></h1>
<div class="well well-sm">
  <div class="container">
    <div class="col-sm-6">
      <p class="small">

      A <strong><%= @channel.type_name.downcase %></strong> channel owned by <%= link_to @channel.entity.name, @channel.entity %>.<br>
        <%- if @channel.instance_of? WebChannel %>
          Home: <%= link_to @channel.url, @channel.url %><br>
        <%- end %>
      </p>
      <p><em><%= @channel.description %></em></p>
    </div>
    <div class="col-sm-6">
      <%- if @channel.display_contact %>
        <%= render partial: "contacts/contact", locals: { contact: @channel.display_contact } %>
      <%- end %>
    </div>
  </div>
</div>

<div class="container channel">
  <div class="col-sm-8">
    <%= render 'shared/recent_items', itemable: @channel %>
  </div>
  <div class="col-sm-4">
    <%= render 'keywordings/keywordings', keywordable: @channel, keywordable_type: 'Channel' %>
    <hr>
    <%= render 'mappings/mappings', mappable: @channel %>
  </div>
</div>
