<%- if ! @channel.entity.approved %>
  <%= render 'shared/message', flash_type: :alert, no_close: true, message: "#{@channel.entity.name} has been registered but not approved. Content from this channel will not appear in feeds." %>
<%- end %>

<small><strong>Last updated:</strong> <%= time_or_dash(@channel.last_polled_at, :pretty_long) %></small>
<h1 class="channel"><%= title @channel.name %> <%= channel_action_links @channel, [:update] %></h1>
<div class="well well-sm">
  <div class="container">
    <div class="col-sm-6">
      <p class="small">

        A <strong><%= @channel.type_name.downcase %></strong> channel owned by <%= link_to @channel.entity.name, @channel.entity %>.
        <%- if @channel.instance_of? WebChannel %>
          <li>Home: <%= link_to @channel.url, @channel.url %></li>
        <%- end %>
      </p>
      <p><em><%= @channel.description %></em></p>
    </div>
    <div class="col-sm-6">
      <%= render partial: "contacts/contact", locals: { contact: @channel.display_contact } %>
    </div>
  </div>
</div>


<%= render 'shared/recent_items', itemable: @channel %>

<%= render 'keywordings/keywordings', keywordable: @channel, keywordable_type: 'Channel' %>
<hr>

<div class="">
  <%= render 'mappings/mappings', mappable: @channel %>
</div>

<div class="">
  <%- if @channel.display_contact %>
    <h2>Contact</h2>
  <%- end %>
</div>
