<!--channel header-->
<div class="jumbotron jumbotron-<%= @channel.type_name.downcase %>">
	<div class="container">
		<div class="row">
  			<div class="col-md-8">        
  				<h1>
            <img class="channel-type-icon" src="<%= image_path("#{@channel.type_name.downcase}-box.svg") %>">
            <img src="<%= @channel.avatar_url %>" style="width: 40px;">
  					<%= title @channel.name %> <%= channel_action_links @channel, [:update] %>
        		</h1>
          </div>
			<div class="col-md-4 col-md-offset-0">
				<p class="small channel-desc">			
				"<strong><%= link_to @channel.name, @channel.url %></strong>" 
				is a <strong><a href=""><%= @channel.type_name.capitalize %> channel</a></strong><br/>
				managed by <strong><%= link_to @channel.entity.name, @channel.entity %></strong>.
			</p>
			</div>
			<p class="col-md-8 channel-profile-desc-twitter">
				<%= @channel.description %>
			</p>      
    	</div>
	</div>
</div>

  <!--channel content-->
  <div id="page-content" class="container">
    <%- if ! @channel.entity.approved %>
      <%= render 'shared/message', flash_type: :alert, no_close: true, message: "#{@channel.entity.name} has been registered but not approved. Content from this channel will not appear in feeds." %>
    <%- end %>
      <div class="messages"><%= render 'shared/flash' %></div>
    <div class="row ">
        <div class="col-md-4">
          <h2 class="content-leadin">Latest Content</h2>
          <small><strong>Last updated:</strong> <%= time_or_dash(@channel.last_polled_at, :pretty_long) %></small>
      </div>
        <div class="col-md-3 col-md-offset-5">
          <%- if @channel.item_count > 3 %>
          <p class="content-list-controls">
              <a class="btn btn-default btn-sm" href="<%= items_path(channel_id: @channel.id) %>" role="button">View all content (<%= @channel.item_count %> items)</a>
          </p>
          <%- end %>
      </div>
    </div>
    <%- if @channel.type_name.downcase=="twitter" %>
      <%= render 'channels/show.table.twitter.html.erb' %>
      <%#= render 'show the API call for this view???' %>
    <%- end %>	
    
    <%= render 'keywordings/keywordings', keywordable: @channel, keywordable_type: 'Channel' %>

    <div class="">
      <%= render 'mappings/mappings', mappable: @channel %>
    </div>

    <div class="">
      <%- if @channel.display_contact %>
      <h2>Contact</h2>
      <%= render partial: "contacts/contact", locals: { contact: @channel.display_contact } %>
      <%- end %>
    </div>
  </div>
  <!--end content-->
</div>
