<h1><%= title 'Entities' %></h1>
<p><%= Entity.help_text %></p>

<table class="table table-striped footable">
  <thead>
    <tr>
      <th>Name</th>
      <th data-hide="phone">Descripton</th>
      <% if current_user %>
        <th data-hide="phone">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%- if @entities.each do |entity| %>
      <tr>
        <td><%= link_to_entity entity %></td>
        <td><%= entity.description %></td>
        <% if current_user %>
          <td><%= entity_action_links entity %></td>
        <% end %>
      </tr>
    <%- end.empty? %>
      <tr><td colspan="3">There are no entities</td></tr>
    <%- end %>
  </tbody>
</table>

<%= paginate @entities %>
