<%- if ! @entity.approved? %>
  <%= render 'shared/message', flash_type: :alert, no_close: true, message: 'This entity has been registered but not approved. Content from this entity will not appear in feeds.' %>
<%- end %>


<h1><%= title @entity.name %> <%= entity_action_links @entity, [:update] %></h1>
<div class="well well-sm">
  <div class="row">
    <div class="col-sm-6">
      <%= @entity.description %>
    </div>
    <br class="visible-xs-inline">
    <div class="col-sm-6">
      <%- if @entity.contact %>
        <%= render partial: "contacts/contact", locals: { contact: @entity.contact } %>
      <%- end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render 'shared/recent_items', itemable: @entity %>

    <h2>Channels <small><%= help_icon_for('Channel') %></small>
      <%- if policy(@entity).update? %>
        <div class="btn-group">
          <button type="button" class="btn btn-success btn-xs action-button dropdown-toggle" data-toggle="dropdown">
            <%= fa_icon(:plus) %> <span class="caret"></span>
            <span class="sr-only">Add channel</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <%- Channel.public_types.each do |type| %>
              <%- if type == YoutubePlaylistChannel %>
                <li><%= link_to_confirm type.type_name, 'Google Account Authorization',
                  "In order to add a Youtube playlist, Media Magnet needs permission to use certain portions of a Google account that can manage the channel. If you haven't already authorized Media Magnet, you will be asked for your Google account username name password after clicking Ok.",
                  new_entity_youtube_playlist_channel_path(@entity) %></li>
              <%- else %>
                <li><%= link_to type.type_name, send('new_entity_'+type.model_name.singular+'_path', @entity) %></li>
              <%- end %>
            <%- end %>
          </ul>
        </div>
      <%- end %>
    </h2>
    <div class="list-group channels">
      <%- if @entity.channels.each do |channel| %>
        <%= link_to_channel(channel, class: 'list-group-item') %>
      <%- end.empty? %>
        <p>No content channels have been added to <%= @entity.name %></p>
      <%- end %>
    </div>
  </div>
  <div class="col-sm-4">
    <%= render 'keywordings/keywordings', keywordable: @entity, keywordable_type: 'Entity' %>

    <%- if current_user %>
      <%= render 'mappings/mappings', mappable: @entity %>
      <%= render 'memberships/memberships', entity: @entity %>
    <%- end %>
  </div>
</div>
