<h1><%= @entity.name %></h1>
<p><%= @entity.description %></p>
<% if current_user %>
  <p><%= entity_action_links @entity %></p>
<% end %>

<div class="col-sm-4">
  <h2>Channels <small><%= help_icon_for('Channel') %></small></h2>
  <div class="list-group">
    <%- @entity.channels.each do |channel| %>
      <%= link_to_channel(channel, class: 'list-group-item') %>
    <%- end %>
  </div>
  <%- if @entity.has_user? current_user %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Register new channel <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <%- Channel::TYPES.each do |type| %>
          <li><%= link_to type.type_name, send('new_entity_'+type.model_name.singular+'_path', @entity) %></li>
        <%- end %>
      </ul>
    </div>
  <%- end %>
</div>
<div class="col-sm-4">
  <h2>Users</h2>
  <ul class="list-group">
    <%- @entity.users.each do |user| %>
      <%= mail_to user.email, fa_icon('envelope', text: user.display_name), class: 'list-group-item' %></li>
    <%- end %>
  </ul>

  <%- if @entity.contact %>
    <h2>Contact</h2>
    <%= render partial: "contacts/contact", locals: { contact: @entity.contact } %>
  <%- end %>
</div>
<div class="col-sm-4">
  <h2>Keywords <small><%= help_icon_for('Keyword') %></small></h2>
  <p><%= keyword_labels(@entity.keywords) %></p>
  <%= render 'mappings/mappings', mappable: @entity %>
</div>
