<div id="masthead">
  <div id="page-content" class="container">
    <%= link_to 'Login', auth_path(:shibboleth), class: 'login_link' %>

    <div class="sm-col-12">
      <%= render 'shared/flash' %>

      <div class="osu_logo">
        <a class="center-block" href="http://www.osu.edu">The Ohio State University</a>
      </div>
      <h1>Media Magnet</h1>
      <h4>Keywords: <%= link_to 'HTML', keywords_path %>, <%= link_to 'JSON', keywords_path(:format => :json) %></h4>
      <h5>MORE SERVICES COMING SOON</h5>
      <p><%= image_tag 'media-magnet.png', id: 'mm_image' %></p>

    </div>
  </div>
</div>
