<h1><%= title 'Delayed Jobs' %></h1>

<table class="table table-striped footable">
  <thead>
    <tr>
      <th>Run at</th>
      <th>Attempts</th>
      <th data-hide="phone">Created at</th>
      <th data-hide="phone">Failed at</th>
      <th data-hide="phone,tablet">Locked at</th>
      <th data-hide="phone,tablet">Handler</th>
      <th data-hide="phone,tablet">Last error</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <%- if @delayed_jobs.each do |job| %>
      <tr>
        <td><%= job.run_at %></td>
        <td><%= job.attempts %></td>
        <td><%= job.created_at %></td>
        <td><%= job.failed_at %></td>
        <td><%= job.locked_at %></td>
        <td>
          <pre><%= job.handler.sub(/\A--- !/, '') %></pre>
        </td>
        <td>
          <%- error = job.last_error %>
          <%- if error %>
            <%- regex = Regexp.new("\n.*", Regexp::MULTILINE) %>
            <pre><%= error.sub(regex, '') %></pre>
          <% end %>
        </td>
        <td>
          <%= link_to 'destroy', admin_delayed_job_path(job), method: :delete %>
        </td>
      </tr>
    <%- end.empty? %>
      <tr>
        <td colspan="8">There are no jobs in the queue</td>
      </tr>
    <%- end %>
  </tbody>
</table>

