<div class="row"> 
  <div class="col-sm-9">
  <h1><%= title 'Items' %></h1>
    <ul class="media-list">
    <%- @items.each do |item| %>
      <li class="clearfix media"><%= render item %></li>
    <%- end %>
    </ul>
  </div>
  <div class="col-sm-3">
    <h2>Keywords</h2>
    <div class="list-group">
      <%= link_to 'All', items_path, class: "list-group-item #{'active' unless @current_keyword}" %>

      <%- #This will produce duplicate keywords. FIX THIS %>
      <%- @items.keywords.each do |keyword| %>
        <%- if @current_keyword == keyword %>
          <span class="list-group-item active"><%= keyword.display_name %></span>
        <%- else %>
          <%= link_to keyword.display_name, url_for(keyword_id: keyword.id), class: 'list-group-item' %>
        <%- end %>
      <%- end %>

    </div>
    <h2>Channels</h2>
    <div class="list-group">
      <%= link_to 'All', items_path, class: "list-group-item #{'active' unless @channel}" %>
      <%- Channel.all.each do |channel| %>
        <%- if @channel == channel %>
          <span class="list-group-item active"><%= channel.name %></span>
        <%- else %>
          <%= link_to channel.name, channel_items_path(channel), class: 'list-group-item' %>
        <%- end %>
      <%- end %>
    </div>
  </div>
</div>

<%= paginate @items %>
