<div class="row"> 
  Access this data set in the api: <%= link_to @api_url, @api_url %>
<p><%= @search_response.hits.total %> Results where <%= @human_desc %></p>
  <div class="col-sm-9">
  <h1><%= title 'Items' %></h1>
    <ul class="media-list">
    <%- @items.each do |item| %>
      <li class="clearfix media"><%= render item %></li>
    <%- end %>
    </ul>
  <%= paginate @items %>
  </div>

  <div class="col-sm-3">
  <%= form_tag items_path, method: :get, class: 'facets' do %>
    <%= label_tag :search %>
    <%= text_field_tag(:search, params['search']) %>

    <%= label_tag "entity_id[]", 'Entity' %>
    <%= select_tag('entity_id[]', options_for_select(@search_response.facets.entity_id.terms.map{|a| [ "#{Entity.find(a[:term]).name} (#{a[:count]})", a[:term] ] }, selected: params[:entity_id]),
            multiple: :true, 
            class: 'chosen-select') %>

    <%= label_tag "channel_id[]", 'Channel' %>
    <%= select_tag('channel_id[]', options_for_select(@search_response.facets.entity_id.terms.map{|a| [ "#{Channel.find(a[:term]).name} (#{a[:count]})", a[:term] ] }, selected: params[:channel_id]),
            multiple: :true, 
            class: 'chosen-select') %>


    <%= label_tag 'tags[]', 'Tags' %>
    <%= select_tag('tags[]', options_for_select(@search_response.facets.tags.terms.map{|a| [ "#{a[:term]} (#{a[:count]})", a[:term] ] }, selected: params[:tags]),
          multiple: :true, 
          class: 'chosen-select') %>

    <%= label_tag 'channel_type[]', 'Channel Types' %>
    <%= select_tag('channel_type[]', options_for_select(@search_response.facets.channel_type.terms.map{|a| [ "#{a[:term]} (#{a[:count]})", a[:term] ] }, selected: params[:channel_type]),
          multiple: :true, 
          class: 'chosen-select') %>

      <%- Category.all.map{|c| c.name.pluralize}.each do |category| %>
        <%- if @search_response.facets[category].terms.any? %>
          <%= label_tag "#{category}[]", category.titleize %>
          <%= select_tag("#{category}[]",
                options_for_select(@search_response.facets[category].terms.map{|a| [ "#{a[:term]} (#{a[:count]})", a[:term] ] }, selected: params[category]),
                multiple: :true, 
                class: 'chosen-select') %>
        <% end %>
      <% end %>
    <%= submit_tag("Search") %>
  <% end %>
  </div>
</div>
