<h1><%= title @item.to_s %></h1>
      <p>
        <%= link_to @item.link.to_s, @item.link.to_s %><br>
        Published: <%= @item.published_at %>, 
        Imported into MM: <%= @item.created_at %>
      </p>
<div class="col-sm-7">
  <%- if @item.description.present? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Description</h2>
    </div>
    <div class="panel-body">
      <p><%= @item.description.html_safe %></p>
    </div>
  </div>
  <%- end %>
  <%- if @item.content.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Content</h2>
      </div>
      <div class="panel-body">
        <p><%= @item.content.html_safe %></p>
      </div>
    </div>
  <%- end %>
  <%- if @item.assets.present? %>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Assets <%= help_icon_for('Asset') %></h2>
    </div>
    <div class="panel-body">
      <%- @item.assets.each do |asset| %>
        <%= render_asset(asset) %>
      <%- end %>
    </div>
  </div>
  <%- end %>
</div>
<div class="col-sm-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Tags <%= help_icon_for('Tag') %></h2>
    </div>
    <div class="panel-body">
      <%= tag_labels(@item.user_tags) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Keywords <%= help_icon_for('Keyword') %></h2>
    </div>
    <div class="panel-body">
      <%= keyword_labels(@item.keywords) %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Events <%= help_icon_for('Event') %></h2>
    </div>
    <div class="panel-body">
      <%= render @item.events %>
    </div>
  </div>

</div>
