<h1><%= title excerpt_for(@item) %>
<%= link_to_delete fa_icon('trash', data: {toggle: 'tooltip', placement: 'top'}, title: 'Delete'),
  @item, 'btn btn-danger btn-xs action-button' if policy(@item).destroy? %>
</h1>

<p class="lead">URL: <%= link_to @item.link.to_s, @item.link.to_s %></p>

<div class="row">
  <div class="col-sm-8">
    <%- if @item.description.present? %>
      <h2>Description</h2>
      <p><%= @item.description.html_safe %></p>
    <%- end %>

    <h2>Content</h2>
    <p><%= content(@item) %></p>

    <%- if @item.assets.present? %>
      <h2>Assets <small><%= help_icon_for('Asset') %></small></h2>
      <%- @item.assets.each do |asset| %>
        <%= render_asset(asset) %>
      <%- end %>
    <%- end %>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Item Information</h2>
      </div>
      <div class="panel-body url-wrap">
        <p>
          Content type: <%= @item.channel_type.titleize %><br> 
          Published: <%= time_or_dash(@item.published_at, :pretty_long) %><br>
          Imported: <%= time_or_dash(@item.published_at, :pretty_long) %><br>
          Channel: <%= link_to_channel @item.channel %><br>
          Entity: <%= link_to @item.channel.entity, @item.channel.entity %>
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Tags <%= help_icon_for('Tag') %></h2>
      </div>
      <div class="panel-body">
        <% if @item.custom_tags.present? -%>
          <%= tag_labels(@item.custom_tags) %>
        <% else -%>
          This item has no tags
        <% end -%>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Keywords <%= help_icon_for('Keyword') %></h2>
      </div>
      <div class="panel-body">
        <% if @item.keywords.present? -%>
          <%= keyword_labels(@item.keywords) %>
        <% else -%>
          This item has no keywords
        <% end -%>
      </div>
    </div>
    <% if @item.events.present? -%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Events <%= help_icon_for('Event') %></h2>
        </div>
        <div class="panel-body">
          <%= render @item.events %>
        </div>
      </div>
    <% end -%>

  </div>
</div>
