<%= simple_form_for @keywording, as: :keywording, data: { remote: true } do |f| %>
  <%= f.input :keywordable_id, as: :hidden  %>
  <%= f.input :keywordable_type, as: :hidden  %>
  <%= f.association :keyword,
    label_method: :display_name,
    collection: Keyword.normal - @keywording.keywordable.keywords,
    input_html: { class: 'chosen-select', 'data-placeholder'=> "Add keywords..." } %>
  <%= f.button :submit, 'Add Keyword' %>
  <button id="add-keywording-cancel" type="button" class="btn btn-link">Cancel</button>
<%- end %>
