<div class="panel panel-default interactive-panel">
  <div class="panel-heading">
    <h2 class="panel-title">Keywords <%= help_icon_for('Keyword') %></h2>
    <%- if policy(keywordable).update? %>
      <span class="text-right"><%= add_button new_keywording_path(keywordable_id: keywordable.id, keywordable_type: keywordable_type), remote: true %></span>
    <%- end %>
  </div>
  <div class="panel-body keywordings">
    <div id="add-keywording"></div>
    <%- if keywordable.all_keywords.any? %>
      <%- keywordable.keywordings.each do |keywording| %>
        <%= render 'keywordings/keywording', keywording: keywording, on_parent: false %>
      <%- end %>
      <%- if keywordable.respond_to?(:entity) %>
        <%- keywordable.entity.keywordings.each do |keywording| %>
          <%= render 'keywordings/keywording', keywording: keywording, on_parent: true %>
        <%- end %>
      <%- end %>

    <%- else %>
      <%= render 'keywordings/no_keywordings', keywordable: keywordable %>
    <%- end %>
  </div>
</div>

