<%= simple_form_for @mapping, as: :mapping, data: { remote: true } do |f| %>
  <%= f.input :mappable_id, as: :hidden  %>
  <%= f.input :mappable_type, as: :hidden  %>
  <%= f.input :tag_text %>
  <%= f.association :keyword,
    include_blank: true,
    label_method: :display_name,
    input_html: { class: 'chosen-select', 'data-placeholder'=> "Add keywords..." } %>
  <%= f.button :submit, 'Create mapping' %>
  <button id="add-mapping-cancel" type="button" class="btn btn-link">Cancel</button>
<%- end %>
