<%= simple_form_for @mapping, data: { remote: true } do |f| %>
  <%= f.input :mappable_id, as: :hidden  %>
  <%= f.input :mappable_type, as: :hidden  %>
  <div class="col-md-4">
    <%= f.input :tag_text, input_html: { class: 'col-sm-6' } %>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <%= f.association :keyword,
      include_blank: true,
      label_method: :display_name,
      input_html: { class: 'chosen-select', 'data-placeholder'=> "Add keywords..." } %>
  </div>
  <div class="col-md-2 col-md-offset-1">
    <%= f.button :submit %>
  </div>

<%- end %>
