<tr id="mapping-<%= mapping.id %>">
  <td><%= mapping.tag.name %></td>
  <td><%= fa_icon('arrow-right') %></td>
  <td><%= keyword_labels(mapping.keyword) %></td>
  <td>
    <%- if (defined? mappable) && mapping.mappable == mappable %>
      <%= link_to_delete fa_icon('trash', data: {toggle: 'tooltip', placement: 'top'}, title: 'Delete'),
        mapping, 'btn btn-danger btn-xs action-button' %>
    <%- else %>
      <!-- <em>From <%= mapping.mappable.name %></em> -->
    <%- end %>
  </td>
</tr>
