<tr id="mapping-<%= mapping.id %>">
  <td><%= mapping.tag.name %><%= fa_icon('arrow-right', class: 'pull-right') %></span></td>
  <td><%= keyword_labels(mapping.keyword) %></td>
  <td>
    <%- if (defined? mappable) && mapping.mappable == mappable %>
      <%= link_to fa_icon(:remove), mapping, method: :delete, data: { remote: true } %>
    <%- else %>
      <em>On Parent Entity</em>
    <%- end %>
  </td>
</tr>
