<h1><%= title @keyword.display_name %> <%= keyword_action_links @keyword, [:update] %></h1>

<p>
  Machine Name: <%= @keyword.name %>
  <% if @keyword.category %>
    <br>Category: <%= @keyword.category.name %>
  <% end %>
</p>
<p>
  <%= @keyword.description %>
</p>
<p>
  There are <%= @keyword.items.count %> items tagged with this keyword.
</p>
