<%- if policy(user).edit? %>
  <%- if user.admin? %>
    <div class="col-md-6">
      <%= simple_form_for [:admin, user] do |f| %>
        <%= f.hidden_field :admin, value: false %>
        <%= f.button :submit, 'Remove Admin', class: 'btn-danger' %>
      <%- end %>
    </div>
  <%- else %>
    <div class="col-md-6">
      <%= simple_form_for [:admin, user] do |f| %>
        <%= f.hidden_field :admin, value: true %>
        <%= f.button :submit, 'Make Admin', class: 'btn-success' %>
      <%- end %>
    </div>
  <%- end %>
  <%- if user.blocked? %>
    <div class="col-md-6">
      <%= simple_form_for [:admin, user] do |f| %>
        <%= f.hidden_field :blocked, value: false %>
        <%= f.button :submit, 'Unblock', class: 'btn-success' %>
      <%- end %>
    </div>
  <%- else %>
    <div class="col-md-6">
      <%= simple_form_for [:admin, user] do |f| %>
        <%= f.hidden_field :blocked, value: true %>
        <%= f.button :submit, 'Block', class: 'btn-danger' %>
      <%- end %>
    </div>
  <%- end %>
<%- end %>
