<%= render 'shared/head' %>

<body>
  <%= render 'shared/osu_navbar' %>

  <%- if current_user %>
    <%= render 'shared/navbar' %>
  <%- end %>

  <div id="page-content" class="container">
    <div class="messages">
    <% flash.each do |key, value| %>
      <%= render 'shared/message', flash_type: key, message: value %>
    <% end %>
    </div>

    <%= yield %>

  </div>

  <%= render 'shared/footer' %>

</body>
</html>
