<%= render 'shared/head' %>

<body>
  <%= render 'shared/osu_navbar' %>
  <%= render 'shared/navbar' %>

  <div id="page-content" class="container">
    <div class="messages">
      <%= render 'shared/flash' %>
    </div>

    <%= yield %>

  </div>

  <%= render 'shared/footer' %>

</body>
</html>
