<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Media Magnet</title>
  <meta name="author" content="© 2014 The Ohio State University | University Communications">

  <!-- university webfonts -->    
  <link rel="stylesheet" href="//www.osu.edu/assets/fonts/webfonts.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'shared/osu_navbar' %>

  <%- if current_user %>
    <%= render 'shared/navbar' %>
  <%- end %>

  <div id="page-content" class="container">
    <% flash.each do |key, value| %>
      <div class="alert <%= flash_class key %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
